<section class="section">
  <div class="container">
    <h2>{{ include.foundation_title }}</h2>

    {{ include.foundation_description | markdownify }}

    <ol class="list--medium--column">
      <li class="frame--medium">
        {{ include.foundation_text | markdownify }}

        <ul class="foundation__members">
          {% for member in include.foundation_members %}
            <li class="members__item">
              {% if member[1].email %}
                <a href="mailto:{{ member[1].email }}" class="members__link">{{ member[1].name }}</a>
              {% else %}
                {{ member[1].name }}
              {% endif %}

              ({{ member[1].role }})
            </li>
          {% endfor %}
        </ul>
      </li>
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.devteam_title }}</h2>

    {{ include.devteam_description | markdownify }}

    <ul class="list--medium" id="contributors-list"></ul>

    <ol class="list--medium">
      <li>{% include button/slack.html text=include.slack_buttontext %}</li>
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.sponsor_title }}</h2>

    <ol class="list--medium">
      <li>{% include button/button.html link=include.advertisement_buttonlink text=include.advertisement_buttontext %}</li>
      <li>{% include button/button.html link=include.congrat_buttonlink text=include.congrat_buttontext %}</li>
      <li>{% include button/button.html link=include.github_buttonlink text=include.github_buttontext %}</li>
    </ol>
  </div>
</section>

{% include fetch-contributors.html id="contributors-list" %}
