<section class="section">
  <div class="container">
    <h2>{{ include.foundation_title }}</h2>

    {{ include.foundation_description | markdownify }}

    <ol class="frame-list">
      <li class="frame--medium">
        {{ include.foundation_text | markdownify }}

        <ul class="foundation__members">
          {% for member in include.foundation_members %}
            <li class="members__item">
              {% if member[1].email %}
                <a href="mailto:{{ member[1].email }}" class="members__link">{{ member[1].name }}</a>
              {% else %}
                {{ member[1].name }}
              {% endif %}

              ({{ member[1].role }})
            </li>
          {% endfor %}
        </ul>
      </li>
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.devteam_title }}</h2>

    {{ include.devteam_description | markdownify }}
  </div>

  <ul class="avatar-list" id="contributors-list"></ul>

  <div class="container">
    <div class="button-list">
      {% include button/slack.html text=slack_buttontext %}
    </div>
  </div>
</section>

<!-- <section class="section"> -->
  <!-- <div class="container"> -->
    <!-- <h2>{{ include.sponsor_title }}</h2> -->

    <!-- {{ include.sponsor_description | markdownify }} -->
  <!-- </div> -->
<!-- </section> -->

{% include fetch-contributors.html id="contributors-list" %}
