<section class="section">
  <div class="container">
    <h2>{{ include.guide_title }}</h2>

    {{ include.guide_description | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.reference_title }}</h2>

    {{ include.reference_description | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.plan_title }}</h2>

    {{ include.plan_description | markdownify }}
  </div>

  <ol class="frame-list">
    {% include plan.html
      title=include.plan_core_title
      url=include.plan_core_url
      description=include.plan_core_description
      thumbnail=include.plan_core_thumbnail
    %}

    {% include plan.html
      title=include.plan_pub_title
      url=include.plan_pub_url
      description=include.plan_pub_description
      thumbnail=include.plan_pub_thumbnail
    %}

    {% include plan.html
      title=include.plan_cli_title
      url=include.plan_cli_url
      description=include.plan_cli_description
      thumbnail=include.plan_cli_thumbnail
    %}

    {% include plan.html
      title=include.plan_viewer_title
      url=include.plan_viewer_url
      description=include.plan_viewer_description
      thumbnail=include.plan_viewer_thumbnail
    %}

    {% include plan.html
      title=include.plan_others_title
      url=include.plan_others_url
      description=include.plan_others_description
      thumbnail=include.plan_others_thumbnail
    %}
  </ol>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.license_title }}</h2>

    {{ include.license_description | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.community_title }}</h2>

    {{ include.community_description | markdownify }}
  </div>
</section>
