<section class="section">
  <div class="container">
    <h2>{{ include.guide_title }}</h2>

    {{ include.guide_description | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.reference_title }}</h2>

    {{ include.reference_description | markdownify }}
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.plan_title }}</h2>

    {{ include.plan_description | markdownify }}

    <ol class="list--medium--column">
      {% for plan in include.plans %}
        {% include plan.html
          title=plan.title
          description=plan.description
          url=plan.url
          thumbnail=plan.thumbnail
        %}
      {% endfor %}
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>{{ include.community_title }}</h2>

    {{ include.community_description | markdownify }}

    <ol class="list--medium">
      <li>{% include button/slack.html text=include.slack_buttontext %}</li>
    </ol>
  </div>
</section>
