<section class="section">
  <div class="container">
    <h2>
      {{ include.cli_title }}
      <!-- <span class="tip">{{ include.cli_tip }}</span> -->
    </h2>

    {{ include.cli_description | markdownify }}

    <div class="button-list">
      {% include button/github.html link=include.cli_buttonlink_github text="README" %}
    </div>

    <ol class="frame-list">
      <li class="frame--large">
        <h3>{{ include.cli_frame1_title }}</h3>

        {{ include.cli_frame1_description | markdownify }}
      </li>

      <li class="frame--large">
        <h3>{{ include.cli_frame2_title }}</h3>

        {{ include.cli_frame2_description | markdownify }}
      </li>
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>
      {{ include.viewer_title }}
      <!-- <span class="tip">{{ include.viewer_tip }}</span> -->
    </h2>

    {{ include.viewer_description | markdownify }}

    <div class="button-list">
      <a href="{{ include.viewer_buttonlink }}" class="button--large">{{ include.viewer_buttontext }}</a>
      {% include button/github.html link=include.viewer_buttonlink_github text="README" %}
    </div>

    <ol class="frame-list">
      <li class="frame--large">
        <h3>{{ include.viewer_frame1_title }}</h3>

        {{ include.viewer_frame1_description | markdownify }}

        <ul class="thumbnail-list">
          {% for item in include.viewer_gallery %}
            <li>
              <a href="{{ item.url }}">
                <img src="{{ item.src | relative_url }}" class="thumbnail">
                <p class="gallery__name">{{ item.name }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>
      {{ include.pub_title }}
      <!-- <span class="tip">{{ include.pub_tip }}</span> -->
    </h2>

    {{ include.pub_description | markdownify }}

    <!-- <div class="button-list"> -->
      <!-- <a href="{{ include.pub_buttonlink }}" class="button--large">{{ include.pub_buttontext }}</a> -->
      <!-- {% include button/github.html link=include.pub_buttonlink_github text="README" %} -->
    <!-- </div> -->
  </div>
</section>
