<section class="section">
  <div class="container">
    <h2>
      {{ include.cli_title }}
      {% if include.cli_tip %}
        <span class="tip">{{ include.cli_tip }}</span>
      {% endif %}
    </h2>

    {{ include.cli_description | markdownify }}

    <ol class="list--medium">
      <li>{% include button/github.html link=include.cli_buttonlink_github text="README" %}</li>
    </ol>

    <ol class="list--medium--column">
      <li class="frame--large">
        <div class="container">
          <h3>{{ include.cli_frame1_title }}</h3>
          {{ include.cli_frame1_description | markdownify }}
        </div>
      </li>

      <li class="frame--large">
        <div class="container">
          <h3>{{ include.cli_frame2_title }}</h3>
          {{ include.cli_frame2_description | markdownify }}
        </div>
      </li>
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>
      {{ include.viewer_title }}
      {% if include.cli_tip %}
        <span class="tip">{{ include.viewer_tip }}</span>
      {% endif %}
    </h2>

    {{ include.viewer_description | markdownify }}

    <ol class="list--medium">
      <li>{% include button/button.html link=include.viewer_buttonlink text=include.viewer_buttontext %}</li>
      <li>{% include button/github.html link=include.viewer_buttonlink_github text="README" %}</li>
    </ol>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2>
      {{ include.pub_title }}
      <!-- {% if include.cli_tip %} -->
        <!-- <span class="tip">{{ include.pub_tip }}</span> -->
      <!-- {% endif %} -->
    </h2>

    {{ include.pub_description | markdownify }}

    <!-- <ol class="list--medium"> -->
      <!-- <li>{% include button/button.html link=include.pub_buttonlink text=include.pub_buttontext %}</li> -->
      <!-- <li>{% include button/github.html link=include.pub_buttonlink_github text="README" %}</li> -->
    <!-- </ol> -->
  </div>
</section>
