<section class="section page_make_books_with_vivliostyle">
  <div class="container">
    <h2>{{ include.title }}</h2>

    {{ include.description | markdownify }}

    <ol class="list--medium--column">
      {% for book in include.books %}
        <li class="frame--large">
          <div class="container">
            <h3>{{ book.title | markdownify }}</h3>
            {{ book.description | markdownify }}

            <div class="frame__contents">
              <a href="{{ book.web_buttonlink }}" class="frame__link">
                <img src="{{ book.thumbnail | relative_url }}" alt="{{ book.title }}" class="frame__thumbnail">
              </a>

              <ol class="book__toc">
                {% for article in book.toc %}
                  <li class="toc__content">
                    <div>
                      <i class="mdi mdi-alpha-{{ article.type | downcase }}-circle toc__type"></i>
                    </div>
                    <div>
                      <a href="{{ article.url }}">{{ article.title }}</a>
                      （{{ article.author }}）
                    </div>
                  </li>
                {% endfor %}
              </ol>
            </div>

            <ol class="list--medium">
              <li>{% include button/button.html link=book.web_buttonlink text=include.web_buttontext %}</li>
              <li>{% include button/button.html link=book.viewer_buttonlink text=include.viewer_buttontext class="button--secondary--large" %}</li>
              <li>{% include button/button.html link=book.print_buttonlink text=include.print_buttontext class="button--secondary--large" %}</li>
              <li>{% include button/github.html link=book.source_buttonlink text=include.source_buttontext %}</li>
            </ol>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
</section>
