<section class="section--gray">
  <div class="container">
    <h1>{{ include.title }}</h1>
    <p>{{ include.lead }}</p>
  </div>
</section>

{% for category in include.sample %}
  <section class="section page_sample">
    <div class="container">
      <h2>{{ category.category }}</h2>

      <ol class="list--medium--column">
        {% for sample in category.samples %}
          <li class="frame--large">
            <h3>{{ sample.name }}</h3>

            <div class="frame__contents sample-wrap">
              <a href="{{ sample.urls[0].url }}">
                <img src="{{ sample.img | relative_url }}" class="thumbnail">
              </a>

              {% include sample_contents.html sample=sample %}
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endfor %}

{% for category in include.sample_other %}
  <section class="section page_sample">
    <div class="container">
      <h2>{{ category.category }}</h2>

      {% for sample in category.samples %}
        <h3>{{ sample.name }}</h3>

        {% include sample_contents.html sample=sample %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
