<header class="global-header">
  <div class="global-header__container">

    <div class="global-header__brand">
      <a href="{{ site.baseurl }}/ja">
        <h1>
          <img class="global-header__logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title | append: ' logo' }}"/>
        </h1>
      </a>

      <!-- <form class="global-header__search" action=""> -->
        <!-- <div class="global-header__searchicon"> -->
          <!-- <i class="mdi mdi-magnify"></i> -->
        <!-- </div> -->
        <!-- <input class="global-header__input" id="search-form" type="search" name="search" placeholder="Search" autocomplete="off" /> -->
      <!-- </form> -->
    </div>

    <nav class="global-header__nav">
      <ol class="nav__list--main" id="navListMain">
        {% if page.lang == "ja" %}
          {% assign global_header = site.data.global_header.ja %}
        {% else %}
          {% assign global_header = site.data.global_header.en %}
        {% endif %}

        {% for item in global_header %}
          {% if item.url contains '://' %}
            {% assign url = item.url %}
          {% else %}
            {% assign url = item.url | relative_url %}
          {% endif %}

          <li class="nav__item{% if item.url == page.url %}--active{% endif %}">
            <a class="nav__link" href="{{ url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ol>

      <ol class="nav__list--sub">
        <li class="nav__item">
          {% if page.lang == "ja" %}
            <a class="nav__link" href="/ja/">
              <i class="mdi mdi-web item__icon"></i>
              <span class="nav__label">日本語</span>
            </a>
          {% else %}
            <a class="nav__link" href="/">
              <i class="mdi mdi-web item__icon"></i>
              <span class="nav__label">English</span>
            </a>
          {% endif %}
        </li>

        <li class="nav__item">
          <a class="nav__link" href="{{ site.social_links.GitHub }}">
            <i class="mdi mdi-github-circle item__icon"></i>
            <span class="nav__label">GitHub</span>
          </a>
        </li>
      </ol>
    </nav>
  </div>

  {% if page.jumbotron_image %}
    <div class="jumbotron" style="background-image: url({{ site.data.jumbotron.image }})">
      <p class="jumbotron__lead--top">CSS Typesetting</p>

      {% if page.lang == "ja" and site.data.jumbotron.lead.ja %}
        {% assign lead = site.data.jumbotron.lead.ja %}
      {% else %}
        {% assign lead = site.data.jumbotron.lead.en %}
      {% endif %}

      <p class="jumbotron__lead">
        {% for line in lead %}
          {{ line }}<br/>
        {% endfor %}
      </p>
    </div>
  {% endif %}
</header>

<script>
  const navListMain = document.getElementById("navListMain");

  navListMain.addEventListener("mouseover", function(event) {
    navListMain.classList.remove("nav__list--close")
    navListMain.classList.add("nav__list--open")
  });

  navListMain.addEventListener("mouseout", function(event) {
    navListMain.classList.remove("nav__list--open")
    navListMain.classList.add("nav__list--close")
  });
</script>
