<footer class="global-footer">
  <div class="global-footer__container">

    <nav class="global-footer__nav">
      <ol class="nav__list">
        {% if page.lang == "ja" %}
          {% assign global_footer = site.data.global_footer.ja %}
        {% else %}
          {% assign global_footer = site.data.global_footer.en %}
        {% endif %}

        {%- for list in global_footer -%}
          <li class="nav__item">
            <p class="links__groupname">
              {{ list.title }}
            </p>

            <ol class="links__list">
              {%- for item in list.links -%}
                <li class="links__item">
                  <a class="links__link" href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {%- endfor %}
            </ol>
          </li>
        {%- endfor %}
      </ol>
    </nav>

    <div class="global-footer__info">
      <ul class="global-footer__snslist">
        <li class="snslist__item">
          {% include button/twitter.html text="Vivliostyle" link=site.social_links.Twitter %}
        </li>
        <li class="snslist__item">
          {% include button/facebook.html text="Vivliostyle" link=site.social_links.Facebook %}
        </li>
      </ul>

      <div class="global-footer__brand">
        <a href="{{ site.baseurl }}/">
          {% include logo.html class="global-footer__logo" %}
        </a>
      </div>

      <div class="global-footer__copyright">
        <small>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
      </div>
    </div>
  </div>
</footer>
