*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text_color;
  font-family: $body_font;
  font-size: $body_font_size;
  font-weight: 400;
  line-height: $body_line_height;
}

img {
  display: block;
  width: 100%;
}

small {
  font-size: $small_font_size;
}

a {
  &:link {
    font-weight: 700;
    color: $link_color;
  }

  &:visited {
    color: $link_visited_color;
  }
}

a.nostyle {
  text-decoration: none;

  &:link {
    font-weight: unset;
    color: unset;
  }

  &:visited {
    color: unset;
  }
}
