.section {
  .post-list {
    @extend .nostyle;

    .post__title {
      margin-top: 0;
    }
  }

  .post-list__item {
    @extend .frame--medium;

    text-align: left;
    font-size: $body_font_size;
  }

  .post__header {
    display: flex;
    color: $gray_dark;
    margin-bottom: 20px;
  }

  .post__tags {
    @extend .nostyle;

    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .post__tag {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .post__thumbnail {
    min-width: 160px;
    height: 160px;
    margin-left: 20px;
    background-size: cover;
    background-position: center;
    border-radius: $border_radius;
  }

  .post__text {
    font-weight: 400;
  }

  .post__title {
    margin: 20px 0;
  }

  .post__authors {
    @extend .nostyle;
  }

  .author__item {
    color: $gray;
  }

  .author__link {
    &:link,
    &:visited {
      color: $gray;
    }
  }

  @media screen and (max-width: $breakpoint_small) {
    .post__thumbnail {
      margin: 10px 0;
    }

    .post__title {
      .heading__link {
        display: none;
      }
    }
  }
}
