.button {
  @extend a, .nostyle;

  display: flex;
  align-items: center;
  padding: 9px 14px;
  line-height: $button_line_height;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background-color: transparent;
  font-size: 20px;

  &:link,
  &:visited {
    font-weight: 700;
    color: $white;
  }
}

.button__icon {
  margin-right: 10px;
}

.button--small {
  @extend .button;

  padding: 6px 8px;
  border-radius: 4px;
  border-color: $primary_color;
  background-color: $primary_color;
  font-size: 14px;
}

.button--medium {
  @extend .button;

  padding: 7px 14px;
  border-color: $primary_color;
  background-color: $primary_color;
  font-size: 20px;
}

.button--large {
  @extend .button;

  padding: 12px 17px;
  border-color: $primary_color;
  background-color: $primary_color;
  font-size: 24px;
}

.button--twitter {
  @extend .button--medium;

  border-color: $twitter_color;
  background-color: $twitter_color;
}

.button--facebook {
  @extend .button--medium;

  border-color: $facebook_color;
  background-color: $facebook_color;
}

.button--slack {
  @extend .button--large;

  border-color: $slack_color;
  background-color: $slack_color;
}

.button--github {
  @extend .button--large;

  border-color: $github_color;
  background-color: $github_color;
}
