.global-footer {
  margin-top: 108px;

  .global-footer__container {
    padding: 80px 120px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $black;
    color: $white;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .nav__item {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
  }

  .links__groupname {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }

  .links__list {
    list-style: none;
    margin-bottom: 20px;
  }

  .links__item {
    margin-bottom: 4px;
  }

  .links__link {
    color: $white;
    text-decoration: none;
    font-weight: 400;
  }

  .global-footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .global-footer__snslist {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
  }

  .snslist__item {
    margin-bottom: 10px;
  }

  .global-footer__logo {
    width: auto;
    height: 50px;
    margin-top: 40px;

    .logo__text {
      fill: $white;
    }
  }

  .global-footer__copyright {
    text-align: right;
    margin-top: 20px;
  }

  @media screen and (max-width: $breakpoint_large) {
    // 余白を縮める
    .global-footer__container {
      padding: 80px 40px;
    }

    .global-footer__logo {
      height: 30px;
      margin-top: 20px;
    }

    .nav__item {
      margin-right: 40px;
    }
  }

  @media screen and (max-width: $breakpoint_middle) {
    // 縦に並べる
    .global-footer__container {
      flex-direction: column;
    }

    .nav__list {
      flex-direction: column;
    }

    // 左寄せ
    .global-footer__info {
      align-items: flex-start;
    }
  }
}
