.global-header {

  // ----------
  // global-header
  // ----------

  .global-header__container {
    height: $header_height;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  .global-header__logo {
    width: auto;
    height: 50px;
  }

  .global-header__brand {
    display: flex;
    align-items: center;
  }

  // ----------
  // search
  // ----------

  .global-header__search {
    display: flex;
    margin-left: 40px;
    color: $gray_light;
  }

  .global-header__searchicon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid $gray_light;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: $white;
    font-size: 26px;

    &:after {
      content: "";
      position: absolute;
      width: 2px;
      right: -2px;
      height: calc(50px - 2px);
      background: $white;
    }
  }

  .global-header__input {
    width: 160px;
    height: 50px;
    margin: 0;
    padding: 10px 20px 10px 0px;
    background: $white;
    appearance: none;
    outline: none;
    border: 1px solid $gray_light;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: $body_font_size;
    transition: $hover_animation;
  }

  // ----------
  // nav
  // ----------

  .global-header__nav {
    display: flex;
  }

  .nav__list {
    display: flex;
    height: fit-content;
    font-weight: 700;
    list-style: none;
  }

  .nav__list--main,
  .nav__list--sub {
    @extend .nav__list;
  }

  .nav__item {
    background-color: $white;
    transition: $hover_animation;

    &:hover {
      background-color: $blue_lighter;
    }
  }

  .nav__item--active {
    @extend .nav__item;

    box-shadow: inset 0 -6px 0 $primary_color;
  }

  .item__icon {
    font-size: 22px;
    margin-right: 5px;
  }

  .nav__link {
    height: $header_height;
    padding: 0 24px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:link,
    &:visited {
      color: $text_color;
    }
  }

  // ----------
  // jumbotron
  // ----------

  .jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px 80px;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
  }

  .jumbotron__lead {
    font-family: $vivliostyle_font, $body_font;
    font-size: $display_font_size;
    color: $white;
  }

  .jumbotron__lead--top {
    @extend .jumbotron__lead;

    font-size: 80px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 1;
    letter-spacing: -2px;
    text-shadow: 1px 1px 3px $gray;
  }

  @media screen and (max-width: $breakpoint_large) {
    // 検索ボックスを簡略化する
    .global-header__search {
      margin-left: 10px;
    }

    .global-header__searchicon {
      padding: 0;
      border: 0;
      color: $text_color;

      &:after {
        content: unset;
      }
    }

    .global-header__input {
      display: none;
    }

    .nav__list {
      padding-left: 10px;
    }

    // 左右余白を縮める
    .nav__link {
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: $breakpoint_medium) {
  .global-header {

    // ロゴを小さくする
    .global-header__logo {
      height: 40px;
    }

    // アイコンを大きくする
    .item__icon {
      font-size: 30px;
      margin-right: 0;
    }

    // 言語とGitHubのラベルを消す
    .nav__label {
      display: none;
    }

    // クリック領域を大きくする
    .nav__link {
      padding: 0 24px;
    }

    // MENUを右端に持ってくる
    .global-header__nav {
      flex-direction: row-reverse;
    }

    // MENUの中身を隠す
    .nav__list--main {
      padding: 0;
      font-size: 20px;
      flex-direction: column;
      visibility: hidden;
      z-index: 10;

      &:before {
        content: "MENU";
        display: flex;
        align-items: center;
        justify-content: center;
        height: $header_height;
        visibility: visible;
        cursor: pointer;
      }

      // 枠をつける
      .nav__item {
        border-left: 1px solid $gray_lighter;
        border-right: 1px solid $gray_lighter;

        &:first-child {
          border-top: 1px solid $gray_lighter;
        }

        &:last-child {
          border-bottom: 1px solid $gray_lighter;
        }
      }
    }

    // MENUの中身を見せる
    .nav__list--open {
      visibility: visible;

      .nav__item {
        opacity: 1;
      }
    }

    // MENUの中身を隠す
    .nav__list--close {
      visibility: hidden;

      .nav__item {
        opacity: 0;
      }
    }

    // 左側につける
    .nav__item--active {
      box-shadow: inset 6px 0 0 $primary_color;
    }

    // 高さを可変にする
    .jumbotron {
      height: auto;
      padding: 80px;
    }

    // 改行をなくす
    .jumbotron__lead {
      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $breakpoint_small) {
  .global-header {

    // ボタンを小さくする
    .nav__link {
      padding: 0 10px;
    }

    .global-header__container {
      padding: 0 10px;
    }

    .global-header__logo {
      height: 30px;
    }

    .jumbotron {
      padding: 40px 10px;
      text-align: center;
    }

    .jumbotron__lead {
      font-size: 15px;
    }

    .jumbotron__lead--top {
      margin-bottom: 40px;
      font-size: 50px;
    }
  }
}
