@mixin section {
  margin: $section_top_bottom auto;
  width: $section_width;

  &:first-child {
    margin-top: $section_first_top_bottom;
  }

  &:last-child {
    margin-bottom: $section_first_top_bottom;
  }

  @include media_large {
    // 幅を広げる
    width: $section_width_large;

    // 一番上と一番下の余白を縮める
    &:first-child {
      margin-top: $section_first_top_bottom_large;
    }

    &:last-child {
      margin-bottom: $section_first_top_bottom_large;
    }
  }
}

@mixin center {
  text-align: center;

  .heading__link {
    display: none;
  }

  @include lists {
    justify-content: center;
  }
}

.section {
  @include section;
}

.section--center {
  @include section;
  @include center;
}

.section--center--gray {
  @include section;
  @include center;

  margin: 0;
  padding: $section_top_bottom calc((100% - #{$section_width}) / 2);
  background-color: $gray_lighter;
}
