.section {
  margin: $section_top_bottom auto;
  width: $section_width;

  &:first-child {
    margin: $section_first_top_bottom auto $section_top_bottom;
  }

  &:last-child {
    margin: $section_top_bottom auto $section_first_top_bottom;
  }
}

// Markdownで書かれたコンテンツを表示する領域
.container {
  > p,
  > ul,
  > ol,
  > blockquote,
  > pre {
    margin: 20px 0;
  }

  img {
    margin: 30px auto;
    max-width: 50vw;
  }

  .list {
    margin: 30px 0;

    img {
      margin: 0;
    }
  }
}

.section--center {
  @extend .section;

  text-align: center;

  .heading__link {
    @extend .nostyle;
  }

  .list {
    justify-content: center;
  }

  .frame {
    text-align: left;
  }
}

.section--center--gray {
  @extend .section--center;

  margin: 0;
  padding: $section_top_bottom calc((100vw - #{$section_width}) / 2);
  background-color: $gray_lighter;
}

@include media_large {
  // 余白を縮める
  .section {
    margin: $section_top_bottom_large auto;
    width: $section_width_large;

    &:first-child {
      margin: $section_first_top_bottom_large auto $section_top_bottom_large;
    }

    &:last-child {
      margin: $section_top_bottom_large auto $section_first_top_bottom_large;
    }
  }
}

@include media_medium {
  .container {
    img {
      max-width: unset;
    }
  }
}

@include media_small {
  // 余白を縮める
  .section {
    margin: 40px 10px;

    .frame--large {
      padding: 60px 20px;
    }

    .frame--medium {
      padding: 40px 20px;
    }

    .frame__contents {
      flex-direction: column;
    }
  }
}
