.container {
  .tip {
    display: inline-block;
    height: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: $black;
    color: $white;
    font-size: $small_font_size;
    font-family: $monospace_font;
  }
}
