---
layout: default
---

{% include assign/lang.html %}
{% assign members = site.data.people[lang.code] %}

{% include global-header.html %}

<main class="main">
  <article class="post">
    <section class="section">
      {% include post-header.html
        date=page.date
        tags=page.tags
      %}

      <h2 class="post__title">{{ page.title }}</h2>

      {% include post-author.html
        author=page.author
        members=members
      %}

      <div class="container">
        {{ content }}
      </div>
    </section>
  </article>

  <section class="section">
    {% include nav-share.html %}
  </section>

  <section class="section">
    {% include post-related.html %}
  </section>
</main>

{% include global-footer.html %}
